[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2019.11.28"
ffmpeg = "==1.4"
kiwisolver = "==1.1.0"
matplotlib = "==3.1.2"
nltk = "==3.4.5"
numpy = "==1.18.1"
pandas = "==0.25.3"
pocketsphinx = "==0.1.15"
pydub = "==0.23.1"
pyparsing = "==2.4.6"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
scipy = "==1.4.1"
six = "==1.14.0"
textblob = "==0.15.3"
aubio = "==0.4.9"
librosa = "==0.7.2"
PyAudio = "==0.2.11"
SpeechRecognition = "==3.8.1"
youtube_dl = "==2020.1.15"
click = "==7.0"
gunicorn = "==20.0.4"
itsdangerous = "==1.1.0"
Cycler = "==0.10.0"
Flask = "==1.1.1"
Flask-MySQL = "==1.5.1"
Jinja2 = "==2.11.1"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.16.1"
pytube3 = "*"
moviepy = "*"
sqlalchemy = "*"
numba = "==0.48"
cryptography = "*"
scikit-learn = "==0.22.1"

[requires]
python_version = "3.7"
